.free_image{
  height: 280px;
  padding: 0;
  overflow-x: auto;  
  white-space: nowrap;
  overflow-scrolling: touch;  
  -webkit-overflow-scrolling: touch;
}

input:checked + span>.image{
  border: solid red;
}

input + span>.image{
  border: solid white;
}

.image-radio{
display:none;
}

.head{
  cursor: pointer;
}